/* @font-face {
    font-family: "whale";
    src:url("../images/Whale\ I\ Tried\ -\ TTF.ttf") format("truetype");

} */

/* html {
    background: src("https://www.videvo.net/video/disco-lights-background-loop-2/1684/");
    background-size: cover; */


body {
    font-family: "neon, sans-serif";
    color: #fb00be;
    background-color: #042a99;
}

/* #container {
    width: 840px;
    margin: 0 auto;
    padding: 3px; */


.jumbotron {
    /* background-image: url("../images/wild_oliva.png"); */
    /* background-size: cover; */
    position: relative;
    z-index:-101;
    box-sizing: border-box;
    display: block;
    background-size: auto;

  }

  
  #main-video { 
    position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      z-index: -100;
      width: 100%;

  }

.clearfix::after {
    display: block;
    clear  : both;
}
.display-4 {
    font-size: 128px;
    text-align: center;
    text-shadow  : 0 4px 8px #fff,
                   0 18px 22px #fb00be;

}
.gif {
height: 150px;
width: 250px;
font-size: 16px;
text-align: center;
border: solid 3px #fb00be;
margin: 10px;
display: block;
/* float: left; */
/* position: relative; */




}
/* #left-pane {
    float: left;
} */

/* #right-pane {
    float: right;
    width: 33%;
} */


#topic-btn {
    
    display: block;
    width: 100%;
    position: relative;
}

/* p {
    float: left;
position: relative;

} */

button {
    /* float     : left; */
    margin    : 0 1% 1% 0;
    border    : 1px solid #042a99;
    padding   : 3%;
    color: #fb00be;
    font-family: neon, sans-serif;
    background-color: #042a99;
    display: inline-block;
    border-radius: 50%;
    
    
}