/* @font-face {
    font-family: "whale";
    src:url("../images/Whale\ I\ Tried\ -\ TTF.ttf") format("truetype");

} */

/* html {
    background: src("https://www.videvo.net/video/disco-lights-background-loop-2/1684/");
    background-size: cover; */


body {
    font-family: "neon, sans-serif";
    color: #fb00be;
    background-image: url("../images/wild_oliva.png");
    width: 90%;
    margin: 0 auto;
}

/* #container {
    width: 840px;
    margin: 0 auto;
    padding: 3px; */


.jumbotron {
    /* background-image: url("../images/wild_oliva.png"); */
    /* background-size: cover; */
    position: relative;
    z-index:-101;
    box-sizing: border-box;
    display: block;
    background-size: auto;

  }

  
  #main-video { 
    position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      z-index: -100;
      width: 100%;

  }

.clearfix::after {
    display: block;
    clear  : both;
}
.display-4 {
    font-size: 128px;
    text-align: center;
    text-shadow  : 0 4px 8px #fff,
                   0 18px 22px #fb00be;

}

.lead {

font-size: 25px;
text-align: center;
text-shadow:  0 1px 2px #fff,
              0 3px 5px #fb00be;
}
.gif {
height: 150px;
width: 250px;
font-size: 16px;
text-align: center;
border: solid 3px #fb00be;
margin: 10px;
}

#gif-insert {
    margin-top:10px;
  display: flex;
  flex-wrap: wrap;
/*   flex-direction: column; */
	flex-wrap: wrap;
/* 	height: 100vw; */
  align-items: stretch;
  justify-content: space-around;
  margin-bottom: 50px;
}

#topic-btn {
    
    display: block;
    width: 100%;
    position: relative;
}

/* p {
    float: left;
position: relative;

} */

button {

    margin    : 0 1% 1% 0;
    border    : 1px solid #042a99;
    padding   : 2% 0% 2% 0;
    color: #fb00be;
    font-family: neon, sans-serif;
    background-color: #042a99;
    display: inline-block;
    border-radius: 50%;
    width: 9%;
    text-align: center;
    
    
}

/* .pRating {
    display: flex;
    flex-wrap: wrap;
  /*   flex-direction: column; */
      flex-wrap: wrap;
  /* 	height: 100vw; */
    align-items: stretch;
    justify-content: space-around;

}

.pTitle {
    display: flex;
    flex-wrap: wrap;
  /*   flex-direction: column; */
      flex-wrap: wrap;
  /* 	height: 100vw; */
    align-items: stretch;
    justify-content: space-around;
    
} */