@font-face {
    font-family: "whale";
    src:url("../images/Whale\ I\ Tried\ -\ TTF.ttf") format("truetype");

}


body {
    font-family: "neon, sans-serif";
    /* color: #fb00be; */
    background-image: url("../images/wild_oliva.png");
    width: 90%;
    margin: 0 auto;
    color: white;
}


.jumbotron {
    position: relative;
    z-index:-101;
    box-sizing: border-box;
    display: block;
    background-size: auto;

  }

  
  #main-video { 
    position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      z-index: -100;
      width: 100%;

  }

.display-4 {
    font-size: 128px;
    text-align: center;
    text-shadow  : 0 4px 8px #fff,
                   0 18px 22px #fb00be;

}

.lead {

font-size: 25px;
text-align: center;
text-shadow:  0 1px 2px #fff,
              0 3px 5px #fb00be;
}
.gif {
    /* display: flex;
    flex-wrap: wrap; */
height: 300px;
width: 500px;
border: solid 5px black;
box-shadow  : 0 4px 8px #fff,
               0 18px 22px #fb00be;
margin-top: 15px;

}

#gif-insert {
    margin-top:10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
	flex-wrap: wrap;
	/* height: 100vw; */
  align-items: stretch;
  justify-content: space-around;
  margin-bottom: 50px;
color: black;
text-align: center;
}

#topic-btn {
    
    display: block;
    width: 100%;
    position: relative;
}

button {

    margin    : 0 1% 1% 0;
    padding   : 2% 0% 2% 0;
    color: black;
    border: 1px solid #fb00be;
    font-family: neon, sans-serif;
    background-color: #25559d;
    display: inline-block;
    border-radius: 20%;
    width: 9%;
    text-align: center;
    text-transform: uppercase;
    font-family: "neon";
    text-shadow:  0 1px 2px #fff,
              0 3px 5px #fb00be;
    
    
}

.pRating {
    font-family: "whale";
    font-size: 20px;
    text-transform: capitalize;
}
.pTitle {
    font-family: "whale";
    
}

.inputLabel, h2 {
    font-size: 20px;
    font-family: "neon";
    /* color: black; */
    text-shadow:  0 1px 2px #fff,
              0 3px 5px #fb00be;
    

}

#add-feeling {
    font-family: "neon";
    background-color: #fb00be;
    color: black;
    width: 75px;
    height: 75px;
    border-radius: 80%;
    text-transform: capitalize;
    margin-left: 100px;
}